@media (max-width: 1024px) {
    .footer {
        &__logo {
            img {
                width: 368px;
                height: 69px;
            }
        }
    }

    .main-banner {
        &__container {
            padding: 32px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 48px;
            text-align: center;
        }

        h2 {
            margin: 0 auto 24px;
        }
    }
}