@media (max-width: 1200px) {
    .header {
        &__content {
            z-index: 10;
            position: absolute;
            top: 70px;
            width: 100%;
            right: calc(-400px - 30px);
            height: calc(100vh - 70px - 30px);
            background: var(--black-card);
            display: grid;
            align-content: start;
            gap: 0;
            max-width: 400px;
            border-radius: 10px;
            border: 1px solid var(--grey-line);
            box-shadow: 0px 0px 12px 14px rgba(0, 0, 0, .2);
            overflow: clip;

            &.active {
                right: 30px;
            }
        }

        &__logo {
            width: 182px;
            height: 34px;
        }

        &__burger {
            display: block;

            .burger-line {
                transform-origin: center;
            }

            &.active {
                .top {
                    transform: translate(-3px, 4px) rotate(45deg);
                }

                .middle {
                    opacity: 0;
                }

                .bottom {
                    transform: translate(-3px, -3px) rotate(-45deg);
                }

                path {
                    fill: var(--white);
                }
            }
        }

        .menu {
            display: grid;
            padding-bottom: 1px;
            gap: 20px;
            align-content: start;
            gap: 1px;
            background: var(--grey-line);

            &.header__lang {
                width: 100%;
                padding: 0;
                border-radius: initial;
                border: none;
                background: var(--black-card);

                &::before {
                    display: none;
                }

                &>.menu-item {
                    border-bottom: 1px solid var(--grey-line);

                    &>a {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 20px;
                    }

                    &>.sub-menu {
                        text-align: initial;
                    }
                }
            }

            &>.menu-item {
                &::before {
                    display: none;
                }

                &>a {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 20px;
                    background: var(--black-card);

                    &::after {
                        content: '';
                        display: block;
                        width: 10.5px;
                        height: 6px;
                        background: url(../images/arrow-menu.svg) center / contain no-repeat;
                        transition: var(--transition);
                    }
                }

                &>.sub-menu {
                    position: initial;
                    padding: 0;
                    gap: 1px;
                    visibility: initial;
                    opacity: initial;
                    border: none;
                    border-radius: initial;
                    background: var(--grey-card);

                    &>.menu-item {
                        &>a {
                            display: block;
                            padding: 15px 30px;
                            background: var(--grey-line);
                        }
                    }
                }

                &.active {
                    &>a {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        &__box {
            flex-direction: column;
            align-items: start;

            .btn--white {
                margin-left: 15px;
            }
        }
    }

    .main-hero {
        margin-top: 60px;

        .container {
            background-size: auto 400px;
        }
    }

    section {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    .footer {
        .container {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
        }

        .menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    h1,
    .h1 {
        font-size: 42px;
        line-height: 48px;
        font-weight: 600;
    }

    .main-way {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            padding: 32px 24px;

            &:nth-child(1) {
                grid-row: 1;
                grid-column: 1;
                background-size: 337px 304px;
            }

            &:nth-child(4) {
                grid-row: 1;
                grid-column: 2;
                background-size: 287px 298px;
            }
        }
    }

    .main-easy {
        &__container {
            padding: 32px 24px;
        }

        h2 {
            margin-bottom: 48px;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            min-height: 216px;

            &:nth-child(1) {
                grid-column: initial;
                grid-row: initial;
                padding: 48px 24px 356px;
            }

            &:nth-child(4) {
                grid-column: initial;
                grid-row: initial;
                padding: 48px 24px 332px;
            }
        }
    }

    .swiper-review {
        min-height: 406px;

        .swiper-slide {
            margin: 0;
            min-height: 406px;

            &-active {
                margin: 0;
                min-height: 406px;
            }

            &::after {
                height: 202px;
            }
        }

        &__box {
            p {
                width: calc(100% - 210px);
                min-width: 445px;
            }
        }

        &-buttons {
            gap: 20px;
        }
    }

    .main-horizon {
        &__container {
            padding: 32px 26px 119px;
            animation: none;
            background:
                url(../images/main-horizon-decor-mobile-2.avif) right bottom / 656px 50% no-repeat,
                url(../images/main-horizon-decor-mobile-1.avif) left 15px bottom / 656px 50% no-repeat,
                linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .main-banner {
        &__content {
            max-width: 100%;
        }

        p {
            max-width: 100%;
        }
    }

    .terms-advantages {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            &--image {
                grid-column: initial;
                grid-row: initial;

                &::before {
                    width: auto;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    .instruments-hero {
        .container {
            padding-bottom: 138px;
        }
    }

    .swiper-btns {
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;

        .swiper-slide {
            width: 295px;
        }
    }

    .review-events {
        &__container {
            grid-template-columns: 1fr;
            gap: 100px;
        }

        &__box {
            padding: 0;
            background: initial;
            border-radius: initial;
            border: initial;
            text-align: initial;
        }
    }

    .calendar-content {
        &__container {
            grid-template-columns: 1fr;
            gap: 0;
            padding: 48px 32px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__box {
            position: relative;
            padding-bottom: 0;

            &::before {
                position: absolute;
                content: "";
                bottom: 80px;
                left: 194px;
                width: 235px;
                height: 239px;
                border-radius: 50%;
                background: var(--orange);
                filter: blur(80px);
            }

            &::after {
                z-index: 1;
                position: relative;
                content: '';
                display: block;
                margin: 80px auto -26px 30px;
                width: 423px;
                height: 360px;
                background: url(../images/calendar-content-image.avif) left bottom / contain no-repeat;
            }
        }

        &__item {
            z-index: 2;
            position: relative;
        }
    }

    .about-mission {
        &__container {
            background:
                linear-gradient(180deg, rgba(21, 21, 21, 1) 50%, rgba(21, 21, 21, 0) 100%) left top 159px / 100% 40px no-repeat,
                linear-gradient(270deg, rgba(21, 21, 21, 1) 50%, rgba(21, 21, 21, 0) 100%) left calc(703px - 40px) top/ 40px 100% no-repeat,
                url(../images/about-mission-image.avif?v=1764243908469) left top 159px / 703px no-repeat,
                var(--black-card);
        }

        h2 {
            &+p {
                max-width: 542px;
            }
        }

        &__list {
            margin-top: 272px;
            grid-template-columns: 1fr;
        }
    }

    .terms-hero {
        .container {
            padding-bottom: 162px;
        }
    }

    main {
        &.active {
            opacity: 0.3;
        }
    }
}