@media (max-width: 1300px) {
    .main-start {
        &__box {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 32px 24px;
            background-image: none;
        }

        h2 {
            &+p {
                max-width: 600px;
            }
        }

        &__content {
            padding: 0;
        }

        .btn {
            margin-top: 32px;
        }

        &__item {
            padding: 48px 24px;
        }
    }

    .terms-types {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            padding: 32px 22px;
            gap: 48px;
        }

        ul {
            max-width: 300px;
        }

        .btn {
            margin: 0;
        }
    }

    .platform-platform {

        h2,
        .h2 {
            margin-bottom: 32px;
        }

        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            p {
                max-width: 100%;
            }

            &.mt {
                grid-column: initial;
                grid-row: initial;

                p {
                    max-width: 642px;
                }
            }
        }

        &__btns {
            max-width: 396px;
            margin-top: 24px;
        }

        &__qr {
            grid-template-columns: repeat(2, 204px);

            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .contacts-content {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: initial;
            gap: 32px;
        }

        &__form {
            grid-column: initial;
            grid-row: initial;
        }

        &__map {
            height: 316px;
        }
    }
}