@media (max-width: 1400px) {
    .main-hero {
        margin-top: 90px;

        &__container {
            max-width: 70%;
        }

        .container {
            padding-top: 100px;
            background-position: right bottom;

            &::before {
                right: -240px;
            }

            p {
                max-width: 704px;
            }
        }
    }

    .footer {
        .container {
            grid-template-columns: 500px 1fr;
        }
    }

    .main-way {
        &__item {
            &:nth-child(4) {
                background-size: 250px auto;
            }
        }
    }

    .main-new {
        &__container {
            display: flex;
            flex-direction: column-reverse;
            gap: 48px;
            background-image: none;
        }
    }

    .swiper-page {
        &__content {
            min-height: initial;

            &.forex,
            &.stocks,
            &.indices,
            &.products,
            &.cryptocurrencies {
                background: none;
            }
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__image {
            grid-column: 2;
            grid-row: 1/3;
        }
    }

    .about-advantages {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            min-height: 208px;
        }
    }
}