@media (max-width: 500px) {
    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .btn {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .header {
        &__content {
            max-width: calc(100% - 15px - 15px);
            right: -100vw;

            &.active {
                right: 15px;
            }

            .btn--white {
                width: calc(100% - 15px - 15px);
            }
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn {
        width: 100%;
        padding: 20px;

        &--white {
            width: 100%;
            padding: 20px;
        }
    }

    .main-hero {
        .title {
            max-width: 300px;
        }
    }

    .platform-platform {
        &__btns {
            max-width: 100%;
        }
    }
}