@media (max-width: 700px) {
    .main-hero {
        margin-top: 130px;

        .container {
            padding-top: 0;
            padding-bottom: 320px;
            background-size: auto 230px;

            &::before {
                background-size: 100% 280px;
            }
        }
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    section {
        &:not(:last-child) {
            margin-bottom: 80px;
        }
    }

    .header {
        &__content {
            height: calc(100vh - 70px - 16px);

            &.active {
                right: 16px;
            }
        }
    }

    .footer {
        &__info {
            padding: 24px 10px;
        }

        &__logo {
            padding: 0 16px;

            img {
                width: 307px;
                height: 57px;
            }
        }

        &__list {
            margin-top: 40px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    h1,
    .h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }

    h2, .h2 {
        margin-bottom: 32px;
    }

    .main-way {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            min-height: 130px;
            padding: 24px 16px;

            &:nth-child(1) {
                padding-bottom: 292px;
                grid-row: initial;
                grid-column: initial;
            }

            &:nth-child(4) {
                padding-bottom: 312px;
                grid-row: 2;
                grid-column: initial;
            }
        }
    }

    .main-start {
        &__box {
            padding: 0;
            background: none;
            border: none;
        }
    }
}