@media (max-width: 900px) {
    .terms-advantages {
        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            &--image {
                min-height: 385px;
            }
        }
    }

    .platform-advantages {
        &__image {
            min-height: 684px;
            grid-row: initial;
            grid-column: initial;

            &::after {
                width: 100%;
                background-position: center bottom;
            }
        }

        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            h3, p {
                max-width: 424px;
            }
        }
    }

    .about-advantages {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            min-height: 212px;
            padding: 24px 16px;
        }
    }
}