@media (max-width: 992px) {
    .main-hero {
        &__container {
            max-width: initial;
            padding-top: 0;
        }

        .container {
            padding-bottom: calc(571px + 60px);
            background-position: center bottom;
            background-size: auto 471px;

            &::before {
                width: 100%;
                inset: 0;
                background-image: url(../images/main-hero-decor-tablet.avif);
                background-position: center bottom;
                background-size: 100% 571px;
            }
        }
    }
}