@media (min-width: 1201px) {
    .header {
        .menu {
            &>.menu-item {
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    width: 100%;
                    height: 60px;
                    display: block;
                }

                &:hover {
                    &>.sub-menu {
                        visibility: visible;
                        opacity: 1;

                        &>.menu-item {
                            &>a {
                                &:hover {
                                    color: var(--orange);
                                }
                            }
                        }
                    }
                }
            }
        }

        &__lang {
            &:hover {
                .header__select {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__option {
            &:hover {
                    color: var(--orange);
            }
        }
    }

    .footer {
        a.footer__item {
            &:hover {
                span {
                    color: var(--orange);
                }
            }
        }

        .menu {
            &>.menu-item {
                &>.sub-menu {
                    &>.menu-item {
                        &>a {
                            &:hover {
                                color: var(--orange);
                            }
                        }
                    }
                }
            }
        }
    }

    .btn {
        &:hover {
            background: var(--hover);
        }

        &--white {
            &:hover {
                background: var(--hover);
                color: var(--white);
            }
        }
    }

    .main-new {
        &__item {
            &:hover {
                background: var(--hover);

                .main-new__title {
                    img {
                        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .2);
                    }
                }
            }
        }
    }

    .swiper-review {
        &-prev {
            &:hover {
                background-image: url(../images/arrow-right-orange.svg);
            }
        }

        &-next {
            &:hover {
                background-image: url(../images/arrow-right-orange.svg);
            }
        }
    }

    .swiper-btns {
        .swiper-slide {
            &:hover {
                background: var(--hover);
                color: var(--white);
            }

            &-thumb-active {
                &:hover {
                    background: var(--orange);
                }
            }
        }
    }

    .about-advantages {
        &__item {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .documents-docs {
        &__link {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .contacts-content {
        &__form {
            input {
                &.btn {
                    &:hover {
                        background: var(--hover);
                    }
                }
            }

            .wpcf7-acceptance {
                label {
                    a {
                        &:hover {
                            color: var(--hover);
                        }
                    }
                }
            }
        }

        &__item {
            a {
                &:hover {
                    color: var(--hover);
                }
            }
        }
    }

    .platform-platform {
        &__btns {
            .btn--white {
                &.wt {
                    &:hover {
                        svg {
                            circle {
                                fill: var(--white);
                            }

                            path {
                                fill: var(--hover);
                            }
                        }
                    }
                }

                &.win,
                &.android,
                &.ios {
                    &:hover {
                        svg {
                            path {
                                fill: var(--white);
                            }
                        }
                    }
                }
            }
        }
    }
}