@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 600;
    src: url(../fonts/SFProDisplay-Semibold.woff2);
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 400;
    src: url(../fonts/SFProDisplay-Regular.woff2);
}

:root {
    --bg: #0B0B0B;
    --black-card: #151515;
    --grey-card: #1B1B1B;
    --white: #fff;
    --orange: #FB622A;
    --gradient-orange: linear-gradient(270deg, #EE4A14 0%, #FD652C 100%);
    --grey-line: #4B4B4B;
    --transition: .3s ease-in-out all;
    --hover: #D63703;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Text', sans-serif;
    transition: var(--transition);

    scrollbar-width: thin;
    scrollbar-color: var(--orange) var(--bg);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--orange);
        border-radius: 5px;
        border: 3px solid var(--bg);
    }
}

html,
body {
    overflow-x: hidden;
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--orange) url(../images/up-btn-black.svg) center / 20px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);

    p {
        font-size: 16px;
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.container {
    max-width: calc(1520px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background: var(--bg);
    color: var(--white);
}

a {
    color: var(--white);
}

.header {
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    // height: 80px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid var(--grey-line);
        background: var(--black-card);
        box-shadow: 0px 0px 12px 14px rgba(0, 0, 0, .2);
    }

    &__burger {
        display: none;
        width: 27px;
        height: 20px;
        background: url(../images/burger.svg) center / contain no-repeat;
        border: none;
        cursor: pointer;
    }

    &__logo {
        display: block;
        width: 320px;
        height: 60px;
        background: url(../images/header-logo.svg) center / contain no-repeat;
    }

    &__box {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__content {
        display: flex;
        gap: 100px;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 60px;
        align-items: center;
        list-style: none;

        &.header__lang {
            position: relative;
            background: var(--grey-card);
            border: 1px solid var(--grey-line);
            border-radius: 6px;
            cursor: pointer;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 20px);
                display: block;
            }

            &>.menu-item {
                &>a {
                    display: block;
                    padding: 20px;
                }

                &>.sub-menu {
                    left: 0;
                    top: calc(100% + 5px);
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &>.menu-item {
            position: relative;

            &>a {
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                text-decoration: none;
                white-space: nowrap;
            }

            &>.sub-menu {
                display: flex;
                position: absolute;
                top: calc(100% + 20px);
                left: -15px;
                list-style: none;

                flex-direction: column;
                gap: 15px;
                padding: 20px 15px;
                border-radius: 10px;
                border: 1px solid var(--grey-line);
                background: var(--black-card);
                opacity: 0;
                visibility: hidden;
                overflow: hidden;

                &>.menu-item {
                    &>a {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.btn {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    padding: 20px 60px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    overflow: clip;
    text-align: center;

    &--white {
        display: inline-block;
        padding: 20px 60px;
        background: var(--white);
        color: var(--bg);
        text-decoration: none;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        text-align: center;
    }
}

.footer {
    .container {
        display: grid;
        gap: 40px;
        grid-template-columns: 620px 1fr;
        margin-top: 120px;
        padding-bottom: 70px;
    }

    &__info {
        padding: 32px 123px 32px 24px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__logo {
        display: inline-block;
        padding: 4px 20px;
        margin-bottom: 15px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        img {
            display: block;
        }
    }

    &__list {
        display: grid;
        gap: 10px;
        justify-items: baseline;
        margin-top: 60px;
    }

    &__item {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        font-style: initial;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid var(--orange);
            background: var(--gradient-orange);
            object-fit: none;
        }
    }

    .menu {
        display: flex;
        gap: 60px;
        list-style: none;

        &>.menu-item {
            &>a {
                display: block;
                margin-bottom: 15px;
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                text-decoration: none;
                cursor: initial;
            }

            &>.sub-menu {
                display: grid;
                gap: 10px;
                justify-items: baseline;
                list-style: none;

                &>.menu-item {
                    &>a {
                        display: block;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__risk {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;
    }
}

h1,
.h1 {
    margin: 0 0 15px 0;
    font-size: 62px;
    line-height: 82px;
    font-weight: 600;
}

h2,
.h2 {
    margin: 0 0 50px 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
}

h3,
.h3 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.textm {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.texts {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--orange);
}

.main-hero {
    margin-top: 90px;

    .container {
        position: relative;
        padding-top: 155px;
        background: url(../images/main-hero-bg.avif) right 220px bottom / 375px 471px no-repeat;

        &::before {
            z-index: -1;
            position: absolute;
            content: '';
            right: 1px;
            bottom: 0;
            width: 800px;
            height: 100%;
            background: url(../images/main-hero-decor.avif) right bottom / 800px 682px no-repeat;

            animation: widely-bg 6s linear alternate infinite;
        }
    }

    &__container {
        max-width: 870px;
    }

    .title {
        margin-bottom: 25px;
    }
}

section {
    &:not(:last-child) {
        margin-bottom: 120px;
    }
}

.main-way {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        min-height: 190px;
        padding: 30px 40px 30px 25px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        &:nth-child(1) {
            grid-row: span 2;
            padding-bottom: 325px;
            background: var(--black-card) url(../images/main-way-item-1.avif) left bottom / contain no-repeat;
        }

        &:nth-child(4) {
            grid-row: span 2;
            padding-bottom: 325px;
            background: var(--black-card) url(../images/main-way-item-4.avif) right 4px bottom 4px / 287px 298px no-repeat;
        }
    }
}

.main-start {
    &__box {
        display: grid;
        grid-template-columns: 1fr 720px;
        gap: 150px;
        padding: 50px 30px;
        background: var(--black-card) url(../images/main-start-bg.avif) left bottom / 376px 248px no-repeat;
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__content {
        padding-bottom: 235px;
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__item {
        min-height: 240px;
        padding: 50px 60px 50px 25px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__title {
        margin-bottom: 15px;
        color: var(--orange);
    }
}

.main-new {
    &__container {
        display: grid;
        grid-template-columns: 720px 1fr;
        gap: 40px;
        padding: 48px 30px;
        background: var(--black-card) url(../images/main-new-bg.avif) right bottom / 583px 418px no-repeat;
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        p {
            max-width: 620px;
        }
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__item {
        padding: 45px 25px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
        text-decoration: none;

        p {
            max-width: 650px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid var(--orange);
            background: var(--gradient-orange);
            object-fit: none;
        }
    }

    .btn {
        margin-top: 30px;
    }

    h2 {
        max-width: 600px;
    }
}

.main-banner {
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: start;
        padding: 50px 40px 25px 30px;
        background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
        border-radius: 20px;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;
    }

    &__content {
        max-width: 670px;
    }

    &__image {
        max-width: 469px;
        max-height: 429px;

        img {
            max-width: 100%;
        }
    }

    h2 {
        max-width: 420px;
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 10px;
        max-width: 600px;
    }

    .btn--white {
        margin-top: 35px;
    }
}

.main-easy {
    &__container {
        padding: 50px 30px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        min-height: 240px;
        padding: 50px 25px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1/3;
            background: var(--grey-card) url(../images/main-easy-item-1.avif) left bottom / 336px 263px no-repeat;
        }

        &:nth-child(4) {
            grid-column: 3;
            grid-row: 1/3;
            background: var(--grey-card) url(../images/main-easy-item-4.avif) left bottom / 333px 263px no-repeat;
        }
    }

    h3 {
        margin-bottom: 15px;
    }

    &__step {
        position: absolute;
        bottom: 15px;
        right: 25px;
        margin: 0;
        color: var(--orange);
    }
}

.swiper-review {
    min-height: 406px;

    .swiper-slide {
        position: relative;
        min-height: 346px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 24px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
        transition: var(--transition);

        &::before {
            position: absolute;
            content: '';
            width: 184px;
            height: 185px;
            right: 9px;
            bottom: 9px;
            background: #FB622A4D;
            border-radius: 50%;
            opacity: 0;
            filter: blur(50px);
            transition: var(--transition);
        }

        &--alina {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 190px;
                right: 0;
                bottom: 0;
                background: url(../images/alina.avif) right bottom / contain no-repeat;
                transition: var(--transition);
            }
        }

        &--andrey {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 190px;
                right: 0;
                bottom: 0;
                background: url(../images/andrey.avif) right bottom / contain no-repeat;
                transition: var(--transition);
            }
        }

        &--mark {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 190px;
                right: 0;
                bottom: 0;
                background: url(../images/mark.avif) right bottom / contain no-repeat;
                transition: var(--transition);
            }
        }

        &--svetlana {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 190px;
                right: 0;
                bottom: 0;
                background: url(../images/svetlana.avif) right bottom / contain no-repeat;
                transition: var(--transition);
            }
        }

        &--alex {
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 190px;
                right: 0;
                bottom: 0;
                background: url(../images/alex.avif) right bottom / contain no-repeat;
                transition: var(--transition);
            }
        }

        &-active {
            min-height: 406px;
            margin-top: 0;
            background-size: auto 261px;

            &::before {
                opacity: 1;
            }

            &::after {
                height: 261px;
            }
        }
    }

    h3 {
        margin-bottom: 16px;
        color: var(--orange);
    }

    &__author {
        display: grid;
        gap: 6px;
    }

    &-buttons {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-top: 48px;
    }

    &-prev {
        width: 60px;
        height: 60px;
        background: var(--black-card) url(../images/arrow-right.svg) center / 16px 14px no-repeat;
        border: 1px solid var(--grey-line);
        border-radius: 50px;
        transform: rotate(-180deg);
        cursor: pointer;
    }

    &-next {
        width: 60px;
        height: 60px;
        background: var(--black-card) url(../images/arrow-right.svg) center / 16px 14px no-repeat;
        border: 1px solid var(--grey-line);
        border-radius: 50px;
        cursor: pointer;
    }
}

.main-horizon {
    &__container {
        position: relative;
        padding: 58px 10px 222px;
        background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
        border-radius: 20px;
        text-align: center;
        overflow: clip;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &::before {
            content: '';
            position: absolute;
            bottom: -178px;
            left: -35px;
            width: 750px;
            height: 428px;
            background: url(../images/main-horizon-decor-left.avif) left bottom / contain no-repeat;
        }

        &::after {
            content: '';
            position: absolute;
            top: -238px;
            right: -183px;
            width: 854px;
            height: 487px;
            background: url(../images/main-horizon-decor-right.avif) right top / contain no-repeat;
        }
    }

    h2 {
        z-index: 1;
        position: relative;
        margin-bottom: 24px;
    }

    p {
        z-index: 1;
        position: relative;
        max-width: 824px;
        margin: auto;
    }

    .btn--white {
        z-index: 1;
        position: relative;
        margin-top: 36px;
    }
}

.error-hero {
    .container {
        padding-top: 222px;
        padding-bottom: 166px;
    }

    h1 {
        font-size: 160px;
        line-height: 160px;
    }

    .btn--white {
        margin-top: 50px;
    }
}

.hero-bg {
    position: relative;

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        background: url(../images/hero-bg.avif) center / 100% 100% no-repeat;
        //animation: bg-size 20s linear alternate infinite;
        animation: widely-bg 10s linear alternate infinite;
    }
}

.terms-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 152px;
    }

    p {
        max-width: 748px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.platform-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 94px;
    }

    h1 {
        max-width: 748px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.instruments-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 70px;
    }

    h1 {
        max-width: 848px;
    }

    p {
        max-width: 670px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.review-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 152px;
    }

    p {
        max-width: 670px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.news-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 128px;
    }

    p {
        max-width: 620px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.forecasts-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 128px;
    }

    p {
        max-width: 660px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.calendar-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 128px;
    }

    p {
        max-width: 730px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.about-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 176px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.documents-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 176px;
    }

    .btn--white {
        margin-top: 48px;
    }
}

.contacts-hero {
    .container {
        padding-top: 190px;
        padding-bottom: 288px;
    }
}

.terms-types {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 58px 24px 48px;
        background: var(--black-card);
        border-radius: 10px;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            border-radius: 10px 10px 0 0;
            background: var(--gradient-orange);
        }

        &--premium {
            background: linear-gradient(0.05deg, #EE4A14 0.04%, #151515 88.34%);
            background-size: 150% 200%;
            animation: gradient 3s ease-in-out infinite;
        }
    }

    h3 {
        margin-bottom: 24px;
    }

    ul {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin: auto;
        list-style: none;

        li {
            span {
                color: var(--orange)
            }

            &::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                margin-right: 12px;
                margin-bottom: 4px;
                background: var(--white);
                border-radius: 50px;
            }
        }
    }

    .btn--white {
        padding: 20px;
    }
}

.terms-advantages {
    &__container {
        padding: 48px 32px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        min-height: 238px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 72px 24px 32px;
        background: var(--grey-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);

        &:not(:first-child) {
            h3 {
                max-width: 80%;
            }
        }

        &::before {
            position: absolute;
            content: '';
            top: 32px;
            left: 24px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--gradient-orange);
        }

        &--image {
            grid-column: 3;
            grid-row: 2/4;

            &::before {
                content: '';
                inset: auto 41px 38px auto;
                background: #FB622A4D;
                width: calc(100% - 41px - 163px);
                height: calc(100% - 38px - 76px);
                border-radius: 50%;
                filter: blur(50px);
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                max-width: 345px;
                max-height: 470px;
                background: url(../images/terms-advantages-image.avif) right bottom / contain no-repeat;
            }
        }
    }
}

.banner-3 {
    &__container {
        position: relative;
        padding: 58px 10px 198px;
        background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
        border-radius: 20px;
        text-align: center;
        overflow: clip;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &::before {
            content: '';
            position: absolute;
            bottom: -178px;
            left: -35px;
            width: 750px;
            height: 428px;
            background: url(../images/main-horizon-decor-left.avif) left bottom / contain no-repeat;
        }

        &::after {
            content: '';
            position: absolute;
            top: -238px;
            right: -183px;
            width: 854px;
            height: 487px;
            background: url(../images/main-horizon-decor-right.avif) right top / contain no-repeat;
        }
    }

    h2 {
        z-index: 1;
        position: relative;
        max-width: 750px;
        margin: auto;
    }

    .btn--white {
        z-index: 1;
        position: relative;
        margin-top: 36px;
    }
}

.banner-4 {
    &__container {
        position: relative;
        padding: 58px 10px 174px;
        background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
        border-radius: 20px;
        text-align: center;
        overflow: clip;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &::before {
            content: '';
            position: absolute;
            bottom: -178px;
            left: -35px;
            width: 750px;
            height: 428px;
            background: url(../images/main-horizon-decor-left.avif) left bottom / contain no-repeat;
        }

        &::after {
            content: '';
            position: absolute;
            top: -238px;
            right: -183px;
            width: 854px;
            height: 487px;
            background: url(../images/main-horizon-decor-right.avif) right top / contain no-repeat;
        }
    }

    h2 {
        z-index: 1;
        position: relative;
        margin: auto;
        margin-bottom: 24px;
        max-width: 750px;
    }

    p {
        z-index: 1;
        position: relative;
        max-width: 500px;
        margin: auto;
    }

    .btn--white {
        z-index: 1;
        position: relative;
        margin-top: 36px;
    }
}

.platform-platform {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 493px;
    }

    &__item {
        padding: 48px 32px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        p {
            max-width: 600px;
        }

        &.wt {
            padding-right: 300px;
            background: var(--black-card) url(../images/platform-wt.avif) right bottom / 257px 283px no-repeat;
        }

        &.dt {
            padding-right: 300px;
            background: var(--black-card) url(../images/platform-dt.avif) right bottom / 293px 220px no-repeat;
        }

        &.mt {
            grid-column: 2;
            grid-row: 1/3;
            background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
            background-size: 150% 200%;
            animation: gradient 3s ease-in-out infinite;
        }
    }

    &__btns {
        max-width: 429px;
        display: grid;
        gap: 20px;
        margin-top: 36px;

        .btn--white {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                transition: var(--transition);
            }
        }

        .wt {
            &::before {
                background: url(../images/wt-icon.svg) center / contain no-repeat;
            }
        }

        .win {
            &::before {
                background: url(../images/win-icon.svg) center / contain no-repeat;
            }
        }

        .android {
            &::before {
                background: url(../images/android-icon.svg) center / contain no-repeat;
            }
        }

        .ios {
            &::before {
                background: url(../images/ios-icon.svg) center / contain no-repeat;
            }
        }
    }

    &__qr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 48px;

        figcaption {
            margin-top: 16px;
            text-align: center;
        }
    }
}

.platform-advantages {
    &__container {
        padding: 48px 32px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        min-height: 332px;
        padding: 76px 24px 32px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;

        &::before {
            position: absolute;
            content: '';
            top: 32px;
            left: 24px;
            width: 20px;
            height: 20px;
            background: var(--gradient-orange);
            border-radius: 50%;
        }
    }

    &__image {
        grid-column: 3;
        grid-row: 1/3;
        overflow: hidden;

        &::before {
            inset: auto 64px 145px auto;
            width: calc(100% - 64px - 64px);
            height: calc(100% - 145px - 49px);
            background: #FB622A4D;
            filter: blur(50px);
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            width: calc(100% - 57px);
            height: calc(100% - 113px);
            background: url(../images/platform-advantages-image.avif) right bottom / contain no-repeat;
        }
    }

    h3 {
        margin-bottom: 16px;
    }
}

.banner-5 {
    &__container {
        position: relative;
        padding: 58px 10px 222px;
        background: linear-gradient(180deg, #0B0B0B 0%, #391C11 34.36%, #FB622A 100%);
        border-radius: 20px;
        text-align: center;
        overflow: clip;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &::before {
            content: '';
            position: absolute;
            bottom: -178px;
            left: -35px;
            width: 750px;
            height: 428px;
            background: url(../images/main-horizon-decor-left.avif) left bottom / contain no-repeat;
        }

        &::after {
            content: '';
            position: absolute;
            top: -238px;
            right: -183px;
            width: 854px;
            height: 487px;
            background: url(../images/main-horizon-decor-right.avif) right top / contain no-repeat;
        }
    }

    h2 {
        z-index: 1;
        position: relative;
        margin: auto;
        margin-bottom: 24px;
        max-width: 750px;
    }

    p {
        z-index: 1;
        position: relative;
        max-width: 590px;
        margin: auto;
    }

    .btn--white {
        z-index: 1;
        position: relative;
        margin-top: 36px;
    }
}

.swiper-btns {
    margin-bottom: 48px;

    .swiper-slide {
        padding: 10px;
        background: var(--white);
        color: var(--bg);
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        transition: var(--transition);

        &-thumb-active {
            background: var(--orange);
            color: var(--white)
        }
    }
}

.swiper-page {
    .swiper-slide {
        padding: 48px 32px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__content {
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 45px;
        margin-bottom: 80px;

        &.forex {
            background: url(../images/instruments-forex.avif) right 45px top / contain no-repeat;
        }

        &.stocks {
            background: url(../images/instruments-stocks.avif) right 45px top / contain no-repeat;
        }

        &.indices {
            background: url(../images/instruments-indices.avif) right 45px top / contain no-repeat;
        }

        &.products {
            background: url(../images/instruments-products.avif) right 45px top / contain no-repeat;
        }

        &.cryptocurrencies {
            background: url(../images/instruments-cryptocurrencies.avif) right 45px top / contain no-repeat;
        }
    }

    &__top {
        max-width: 846px;
    }

    &__bottom {
        max-width: 846px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 25px;
        }
    }

    h3 {
        margin-bottom: 16px;
    }
}

.review-online {
    h2 {
        margin-bottom: 16px;

        &+p {
            margin-bottom: 48px;
        }
    }
}

.review-conditions {
    h2 {
        margin-bottom: 16px;

        &+p {
            margin-bottom: 48px;
            max-width: 1027px
        }
    }
}

.review-events {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__box {
        padding: 48px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
        text-align: center;
    }

    h2 {
        margin-bottom: 16px;

        &+p {
            margin-bottom: 48px;
        }
    }

    .widget-box {
        .mch-widget {
            margin: auto;
        }
    }
}

.mch-widget {
    max-width: 100% !important;
}

.calendar-content {
    &__container {
        position: relative;
        display: grid;
        gap: 85px;
        grid-template-columns: 1fr 1fr;
        padding: 48px 32px 52px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);

        &::before {
            position: absolute;
            content: '';
            bottom: 139px;
            left: 225px;
            width: 305px;
            height: 311px;
            border-radius: 50%;
            background: var(--orange);
            filter: blur(80px);
        }

        &::after {
            content: '';
            position: absolute;
            left: 43px;
            bottom: 0;
            width: 548px;
            height: 467px;
            background: url(../images/calendar-content-image.avif) left bottom / contain no-repeat;
        }
    }

    h2 {
        max-width: 600px;
        margin-bottom: 32px;
    }

    .btn {
        margin-top: 0;
    }

    &__box {
        padding-bottom: 496px;
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__item {
        padding: 48px 24px;
        background: var(--grey-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }

    h3 {
        margin-bottom: 16px;
        color: var(--orange);
    }
}

.calendar-use {
    &__container {
        padding: 48px 32px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        display: grid;
        align-content: baseline;
        gap: 10px;
        padding: 32px 24px 80px;
        background: var(--grey-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
    }

    h3 {
        margin-bottom: 6px;
    }

    &__step {
        position: absolute;
        bottom: 32px;
        right: 24px;
        color: var(--orange)
    }
}

.about-mission {
    &__container {
        padding: 48px 32px;
        background: var(--black-card) url(../images/about-mission-image.avif) right top / auto 100% no-repeat;
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }

    h2 {
        &+p {
            max-width: 490px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 163px;
    }

    &__item {
        padding: 32px 24px;
        background: var(--grey-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
        text-align: center;

        p {
            max-width: 400px;
            margin: auto;
        }

        &:nth-child(1) {
            p {
                max-width: 281px;
                margin: auto;
            }
        }
    }

    h3 {
        margin-bottom: 16px;
        color: var(--orange);
    }
}

.about-why {
    &__container {
        padding: 48px 32px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        padding: 76px 24px 32px;
        background: var(--grey-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);

        &::before {
            content: '';
            position: absolute;
            top: 32px;
            left: 24px;
            width: 20px;
            height: 20px;
            background: var(--gradient-orange);
            border-radius: 50%;
        }
    }

    h3 {
        margin-bottom: 16px;
    }

    &__image {
        background: url(../images/about-why-image.avif) center / cover no-repeat;
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }
}

.about-advantages {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        position: relative;
        min-height: 450px;
        padding: 32px 24px;
        background: var(--black-card);
        border: 1px solid var(--grey-line);
        border-radius: 10px;
        overflow: clip;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: var(--transition);
        }

        &:nth-child(1) {
            &::before {
                background: url(../images/about-advantages-1.avif) center bottom / 100% auto no-repeat;
            }
        }

        &:nth-child(2) {
            &::before {
                background: url(../images/about-advantages-2.avif) center bottom / 100% auto no-repeat;
            }
        }

        &:nth-child(3) {
            &::before {
                background: url(../images/about-advantages-3.avif) center bottom / 100% auto no-repeat;
            }
        }

        &:nth-child(4) {
            &::before {
                background: url(../images/about-advantages-4.avif) center bottom / 100% auto no-repeat;
            }
        }
    }

    h3 {
        position: relative;
        margin-bottom: 16px;
    }

    p {
        position: relative;
    }
}

.documents-docs {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 80px;
        padding: 32px 24px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--orange);
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 26px);
            height: 2px;
            left: 0;
            bottom: -6px;
            background: var(--orange);
            opacity: 0;
            transition: var(--transition);
        }

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 14px;
            background: url(../images/arrow-right-orange.svg) center / contain no-repeat;
        }
    }
}

.contacts-content {
    &__container {
        display: grid;
        grid-template-columns: 1fr 622px;
        grid-template-rows: 1fr 450px;
        column-gap: 20px;
        row-gap: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__item {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid var(--orange);
            background: var(--gradient-orange);
            object-fit: none;
        }

        a {
            text-decoration: none;
        }

        address {
            font-style: initial;
        }
    }

    &__map {
        border-radius: 10px;
        overflow: clip;
    }

    form {
        grid-column: 2;
        grid-row: 1/3;
        padding: 48px 32px;
        background: var(--black-card);
        border-radius: 10px;
        border: 1px solid var(--grey-line);

        input {
            width: 100%;
            padding: 17px 25px;
            margin-bottom: 20px;
            background: var(--grey-card);
            border: 1px solid var(--grey-line);
            border-radius: 10px;
            color: var(--white);

            &.btn {
                width: auto;
                margin: 0;
                margin-top: 36px;
                background: var(--orange);
            }

            &[type="checkbox"] {
                width: 30px;
                height: 30px;
                margin: 0;
            }
        }

        textarea {
            width: 100%;
            min-height: 115px;
            padding: 17px 25px;
            margin-bottom: 20px;
            background: var(--grey-card);
            border: 1px solid var(--grey-line);
            border-radius: 10px;
            color: var(--white);
            resize: none;
        }

        .contacts-content__title {
            margin-bottom: 10px;
        }

        .wpcf7-acceptance {
            label {
                display: flex;
                gap: 20px;
                align-items: center;

                a {
                    color: var(--orange);
                }
            }
        }
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';