<footer class="footer">
    <div class="container">
        <div class="footer__info">
            <a href="/" class="footer__logo">
                <img src="images/footer-logo.svg" alt="">
            </a>

            <p class="texts">© TradeX 2025. Все права защищены</p>

            <div class="footer__list"></div>
        </div>

        <div class="footer__box">
            <!--=include menu.html -->

            <p class="footer__risk">Уведомление о рисках:<br>
                инвестирование в группы высокого риска (Forex) и торговля контрактами на разницу (CFD) являются спекулятивными операциями, имеют высокий риск, и не подходят для каждого инвестора. Вы можете понести как частичные, так и полные потери вложенных средств, поэтому мы советуем не инвестировать капитал, которым вы не можете рисковать. Вы должны знать о высоком риске, связанном с использованием кредитного плеча. Мы настоятельно рекомендуем Вам внимательно ознакомиться с условиями работы нашей компании перед началом использования наших сервисов.</p>
        </div>
    </div>
</footer>

<div class="upButton"></div>

<div class="cookies">
    <p class="cookies__info"></p>
    <button class="btn btn--white cookies--close"></button>
</div>

<script defer src="js/main.min.js"></script>

</body>

</html>