<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">

    <title>@@title</title>

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__container">
                <a href="/" class="header__logo"></a>

                <button class="header__burger"></button>

                <div class="header__content">
                    @@include('menu.html')

                    <div class="header__box">
                        <ul class="menu header__lang">
                            <li class="menu-item">
                                <a href="##">RU</a>

                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="##">EN</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="##">PT</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <a href="##" class="btn--white">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </header>