<section class="main-easy">
    <div class="container">
        <div class="main-easy__container">
            <h2>Начать торговать просто</h2>

            <div class="main-easy__list">
                <div class="main-easy__item">
                    <h3>Регистрация</h3>
                    <p class="textm">Зарегистрируйте аккаунт всего за пару минут</p>
                    <div class="h3 main-easy__step">Шаг 1</div>
                </div>

                <div class="main-easy__item">
                    <h3>Верификация</h3>
                    <p class="textm">Пройдите верификацию для того, чтобы обеспечить себе безопасность средств и защиту от мошенничества</p>
                    <div class="h3 main-easy__step">Шаг 2</div>
                </div>

                <div class="main-easy__item">
                    <h3>Пополнение счета</h3>
                    <p class="textm">Выберите удобный способ пополнения счета и внесите депозит</p>
                    <div class="h3 main-easy__step">Шаг 3</div>
                </div>

                <div class="main-easy__item">
                    <h3>Начните торговать</h3>
                    <p class="textm">Откройте свои первые сделки и начните свой путь к финансовой независимости</p>
                    <div class="h3 main-easy__step">Шаг 4</div>
                </div>
            </div>
        </div>
    </div>
</section>