<ul class="menu">
    <li class="menu-item">
        <a href="##">Торговля</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="##">Условия торговли</a></li>
            <li class="menu-item"><a href="##">Торговые инструменты</a></li>
            <li class="menu-item"><a href="##">Торговая платформа</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Аналитика</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="##">Обзор рынка</a></li>
            <li class="menu-item"><a href="##">Экономический календарь</a></li>
            <li class="menu-item"><a href="##">Новости рынка</a></li>
            <li class="menu-item"><a href="##">Прогнозы рынка</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Компания</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="##">О нас</a></li>
            <li class="menu-item"><a href="##">Контакты</a></li>
            <li class="menu-item"><a href="##">Документы</a></li>
        </ul>
    </li>
</ul>