<ul class="menu">
    <li class="menu-item">
        <a href="##">Торговля</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="terms.html">Условия торговли</a></li>
            <li class="menu-item"><a href="instruments.html">Торговые инструменты</a></li>
            <li class="menu-item"><a href="platform.html">Торговая платформа</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Аналитика</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="review.html">Обзор рынка</a></li>
            <li class="menu-item"><a href="calendar.html">Экономический календарь</a></li>
            <li class="menu-item"><a href="news.html">Новости рынка</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Компания</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="about.html">О нас</a></li>
            <li class="menu-item"><a href="contacts.html">Контакты</a></li>
            <li class="menu-item"><a href="documents.html">Документы</a></li>
        </ul>
    </li>
</ul>